<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link rel="stylesheet" href="styles.css">
    
</head>
<body>
    <section id="operaciones">
        <div class="operacion" id="opcion01">
            <a href="personas.html"><h3>PERSONAS</h3></a>
        </div>
        <div class="operacion" id="opcion02">
            <a href="productos.html"><h3>PRODUCTOS</h3></a>
        </div>
        <div class="operacion" id="opcion03">
            <a href="categorias.html"><h3>CATEGORIAS</h3></a>
        </div>
        <div class="operacion" id="opcion04">
            <a href="compras.html"><h3>COMPRAS</h3></a>
        </div>
    </section>
    <footer>
        
    </footer>
</body>
</html>